.card{
    
    border: black 1px solid;
    width: 280px;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
    img{
        width: 50%;
        height: 50%;
        margin-top: 10px;
        
      
    }
}